.transformation h4{
    transform: translateY(500px);
}
.transformation .trans-container-one img{
    width: 100%;
    height: 90%;
    transform: translateY(500px);
}
.trans-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trans-container-two h4{
    color: #FCFcFC;
    font-size: 20px;
    font-family: 'TeXGyreHeros', sans-serif;
    margin: 0px 0px 40px !important;
    max-width: 400px !important;

}
.container-two__first-h1{
    font-size: 19.0244px !important;
    font-family: 'VG5000', sans-serif;
    color: var(--green-color) !important;
    text-transform: uppercase;
    margin: 0px 0px 30.2846px !important;
    padding: 0px 14.8628px !important;
    letter-spacing: 0.13em !important;
    text-align: left !important;
    line-height: 110% !important;
}
.container-two__second-h2{
    font-size: 79.5122px !important;
    font-family: 'VG5000', sans-serif;
    color: var(--green-color) !important;
    margin: 0px 0px 42.0732px !important;
    line-height: 100% !important;
}
@media screen and (max-width:1000px){
    .transformation .trans-container-two{
        order: 0 !important;
        grid-column: 1/3 !important;
    }
    .trans-flex-column{
        justify-content: flex-start !important;
        align-items: flex-start !important; 
    }
    .trans-container-two h4{
        max-width: 750px !important;
        transform: translateY(500px) scale(0.8) !important;
    }
    .transformation .trans-container-one{
        order: 1 !important;
        grid-column: 1/3;
        margin-top: -80px;
        padding: 40px;
    }
}